
  a:link,
  a:focus,
  a:visited {
    text-decoration: none;
    border: none;
  }
  #header {
    margin: 0 5%;
    background-color: #fff;
  }
  .search {
    position: relative;
    /* box-shadow: 0 0 40px rgba(51, 51, 51, .1); */
  }
  .search input {
    height: 32.8px;
    /* text-indent: 25px; */
    border: 1px solid #d6d4d4;
  }
  .search button {
    border-radius: 0 5px 5px 0;
    border-color: grey;
  }
  .search button:hover {
      background-color: #9a9a9a;
    color: #000;
  }
  
  .search button {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 98%;
    width: 20%;
    /* background: white; */
    color: #000;
    padding: 0;
  }
  .search p {
    font-size: 90%;
    margin: 0;
    font-weight: 400;
  }
  .support{
      width: 33.33%;
      text-align: center;
  }
  .support strong{
      text-transform: uppercase;
  }
  .cart a:hover,  
  .account a:hover {
    color: #bd2026;
  }
  .account img,
  .cart img {
    max-width: 100%;
    /* clear: both; */
    text-align: center;
    cursor: pointer;
  }
  .account img {
    border-radius: 50%;
  }
  .signin_dropdown {
    width: 240px;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999;
    position: absolute;
    box-shadow: none;
    background-color: #fff;
    display: none;
      right: 0;
    text-align: center;
  }
  .account:hover > .signin_dropdown {
    display: block;
  }
  .signin_dropdown .sign-in {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .signin_dropdown .sign-in,
  .signin_dropdown .login-fb,
  .signin_dropdown .login-gg {
    display: block;
    padding: 8px;
    border: 1px solid #ff9800;
    margin-bottom: 10px;
    border-radius: 3px;
    background: #ff9800;
    color: #fff;
  }
  .dac {
    margin-bottom: 10px;
  }
  .dac strong {
    padding: 0;
    font-size: 15px;
    display: block;
  }
  .dac a {
    display: block;
    font-size: 15px;
    color: #bd2026;
    font-weight: 600;
  }
  .signin_dropdown .login-fb {
    background: #3b5998 url(../images/footer/icon-fb.png) no-repeat 6px 5px;
    border: 1px solid #3b5998;
  }
  .signin_dropdown .login-gg {
    /* background: #fff url(../images/header/tải\ xuống\ \(1\).png) no-repeat 6px 5px; */
    border: 1px solid #dedede;
    color: #333;
  }
  .npf {
    width: 100%;
    border: 2px solid #9a9a9a;
    border-radius: 5px;
    padding: 5px;
  }
  .npf strong {
    font-size: 15px;
  }
  .npf ul {
    padding: 0 0 0 20px;
    text-align: left;
  }
  /* Header end */
  
  /* Navbar start */
  
  /* Navbar end */

/* Webpath Start */
.webpath{
    margin-bottom: 20px;
}

.webpath a{
    color: #D62828;
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
    white-space: nowrap;
}

.webpath a:visited{
    text-decoration: none;
    border: none;
}

/* Webpath End */

/* Trang Gioi Thieu Start */

.img-GioiThieu img{
    width: 175px;
    height: 188px;
    border: 2px solid #F7F7F7;
    box-shadow: -1px -1px 5px 3px rgba(0,0,0,0.28);
}

.blockquote{
    font-size: 16px;
}

/* Trang Gioi Thieu End */

/* Tien ich dich vu Start*/

.tien-ich-headline {
    color: #363636;
    font-size: 18px;
    padding-bottom: 15px;
}

.tien-ich-headline::before {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: calc(50% - 40px);
    width: 80px;
    height: 3px;
    background: #f3a9c3;
    content: '';
}

.tien-ich .col-3 {
    display: block;
    background-color: #f8f8f8;
    margin-top: 20px;
    border-radius: 50px;
    position: relative;
    padding: 10px 15px 10px 5px;
}

.tien-ich .col-3 .service-img {
    /* float: left; */
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 68px;
    padding: 0px 10px;
}

.tien-ich .col-3 .service-text {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding-top: 5px;
}

.tien-ich .col-3 .service-title {
    font-size: 13px;
    font-weight: 600;
    color: #222;
    letter-spacing: 0;
}

.tien-ich .col-3 .service-detail {
    color: #666;
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
}

/* Tien ich dich vu End*/

/* Footer Start */