*{
    font-family: Arial, Helvetica, sans-serif;
  }
body{
  position: relative;
}
#form_update{
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: rgb(246, 248, 250);
}
  a:link,
  a:focus,
  a:visited {
    text-decoration: none;
    border: none;
  }
  #header {
    margin: 0 5%;
    background-color: #fff;
  }
  .search {
    position: relative;
    /* box-shadow: 0 0 40px rgba(51, 51, 51, .1); */
  }
  .search input {
    height: 32.8px;
    /* text-indent: 25px; */
    border: 1px solid #d6d4d4;
  }
  .search button {
    border-radius: 0 5px 5px 0;
    border-color: grey;
  }
  .search button:hover {
      background-color: #9a9a9a;
    color: #000;
  }
  
  .search button {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 98%;
    width: 20%;
    /* background: white; */
    color: #000;
    padding: 0;
  }
  .search p {
    font-size: 90%;
    margin: 0;
    font-weight: 400;
  }
  .support{
      width: 33.33%;
      text-align: center;
  }
  .support strong{
      text-transform: uppercase;
  }
  .cart a:hover,  
  .account a:hover {
    color: #bd2026;
  }
  .account img,
  .cart img {
    max-width: 100%;
    /* clear: both; */
    text-align: center;
    cursor: pointer;
  }
  .account img {
    border-radius: 50%;
  }
  .signin_dropdown {
    width: 240px;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999;
    position: absolute;
    box-shadow: none;
    background-color: #fff;
    display: none;
      /* right: 0; */
    text-align: center;
  }
  .account:hover > .signin_dropdown {
    display: block;
  }
  .signin_dropdown .sign-in {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .signin_dropdown .sign-in,
  .signin_dropdown .login-fb,
  .signin_dropdown .login-gg {
    display: block;
    padding: 8px;
    border: 1px solid #ff9800;
    margin-bottom: 10px;
    border-radius: 3px;
    background: #ff9800;
    color: #fff;
  }
  .dac {
    margin-bottom: 10px;
  }
  .dac strong {
    padding: 0;
    font-size: 15px;
    display: block;
  }
  .dac a {
    display: block;
    font-size: 15px;
    color: #bd2026;
    font-weight: 600;
  }
  .signin_dropdown .login-fb {
    background: #3b5998 url(../images/footer/icon-fb.png) no-repeat 6px 5px;
    border: 1px solid #3b5998;
  }
  .signin_dropdown .login-gg {
    /* background: #fff url(../images/header/tải\ xuống\ \(1\).png) no-repeat 6px 5px; */
    border: 1px solid #dedede;
    color: #333;
  }
  .npf {
    width: 100%;
    border: 2px solid #9a9a9a;
    border-radius: 5px;
    padding: 5px;
  }
  .npf strong {
    font-size: 15px;
  }
  .npf ul {
    padding: 0 0 0 20px;
    text-align: left;
  }
  /* Header end */
  
  /* Navbar start */
  
  /* Navbar end */
  
.contentwrapper{
  position: relative;
  width: 1000px;
}
.leftside{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 180px;
  float: left;
}
.leftmenu ul{
  list-style: none;
  margin: 0;
  padding: 10px;
}
.leftmenu ul li{
  text-shadow: 0 1px 0 #fff;
  /* font-weight: bold; */
  line-height: 24px;
  padding-left: 4px;
  cursor: pointer;
}
.leftmenu a{
  text-decoration: none;
  color: #000 ;
}
.groupbox{
  border: 1px solid #999;
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 5px #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.groupbox .title{
  background-color: #333;
  height: 32px;
  padding: 5px 10px;
  margin-top: 0;
  color: #fff;
  /* font-size: 13pt; */
  font-weight: bold;
  /* text-shadow: 0 1px 0 #777;
  box-shadow: 1px 1px 15px #999 inset; */
}
.maincontent{
  position: relative;
  top: 10px;
  left: 200px;
  width: 900px;
  min-height: 520px;
  float: right;
}
.groupbox button{
  background-color: #000;
  color: #fff;
  float:right;
  cursor: pointer;
  margin: 2% 1% 2% 0;
}
  /* Gio hang Start */

thead{
    background-color: #777;
}

.trash-outline{
    padding-left: 5px;
    font-size: 18px;
    vertical-align: -2px;
    font-weight: 500;
    display: inline-block;
}



/* Gio hang End */
  
  /* Footer Start */
  
  .Footer {
    background-color: #ececec;
    font-size: 14px;
  }
  .Footer ul li {
    list-style-type: circle;
  }
  
  .Footer a {
    color: #d62828;
    font-weight: 500;
  }
  
  .Footer form {
    padding-top: 10px;
  }
  
  .Footer form button {
    width: 50px;
    background-color: #d62828;
    color: #ffe4dc;
    border-color: #d62828;
  }
  .Footer form button:hover{
    background-color: #ff9800;
    border-color:#ff9800;
  }
  
  .Footer span {
    color: #d62828;
    font-weight: 500;
  }
  
  .Footer-mail-button {
    vertical-align: -1px;
  }
  
  .ti-email {
    font-size: 16px;
  }
  
  /* Footer End */
  
  /* back top */
  
  #btn-back-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: none;
  }